body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.webp');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.main-wrapper {
    height: 400px;
    width: max(300px, 50%);
    background-color: rgba(240, 248, 255, 0.6);
}

.location-content {
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
}

.weather-content {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 300px;
}

.main-weather-wrapper {
    border: 2px solid #288022;
}

.weather-info-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template: 1fr / 1fr 1fr
}

.weather-parameters,
.descriptions {
    display: grid;
    grid-template: repeat(1fr) / 1fr ;
    border: 2px solid red;
    justify-items: center;
    align-items: center;
}

.weather-image-wrapper>img{
    width: 50px;
}

